<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginAction2</display-name>
    <servlet-name>LoginAction2</servlet-name>
    <servlet-class>auth.LoginAction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction2</servlet-name>
    <url-pattern>/LoginAction2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginExecuteAction</display-name>
    <servlet-name>LoginExecuteAction</servlet-name>
    <servlet-class>auth.LoginExecuteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginExecuteAction</servlet-name>
    <url-pattern>/LoginExecuteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>bean.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>School</display-name>
    <servlet-name>School</servlet-name>
    <servlet-class>bean.School</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>School</servlet-name>
    <url-pattern>/School</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>dao.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassNumDao</display-name>
    <servlet-name>ClassNumDao</servlet-name>
    <servlet-class>dao.ClassNumDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassNumDao</servlet-name>
    <url-pattern>/ClassNumDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassNum</display-name>
    <servlet-name>ClassNum</servlet-name>
    <servlet-class>bean.ClassNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassNum</servlet-name>
    <url-pattern>/ClassNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListAction</display-name>
    <servlet-name>StudentListAction</servlet-name>
    <servlet-class>StudentListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListAction</servlet-name>
    <url-pattern>/StudentListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodingFilter</display-name>
    <servlet-name>EncodingFilter</servlet-name>
    <servlet-class>tool.EncodingFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingFilter</servlet-name>
    <url-pattern>/EncodingFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>bean.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCreateAction</display-name>
    <servlet-name>StudentCreateAction</servlet-name>
    <servlet-class>StudentCreateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCreateAction</servlet-name>
    <url-pattern>/StudentCreateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateAction</display-name>
    <servlet-name>StudentUpdateAction</servlet-name>
    <servlet-class>student.StudentUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateAction</servlet-name>
    <url-pattern>/StudentUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateFromAction</display-name>
    <servlet-name>StudentUpdateFromAction</servlet-name>
    <servlet-class>student.StudentUpdateFromAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateFromAction</servlet-name>
    <url-pattern>/StudentUpdateFromAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectUpdateAction</display-name>
    <servlet-name>SubjectUpdateAction</servlet-name>
    <servlet-class>subject.SubjectUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectUpdateAction</servlet-name>
    <url-pattern>/SubjectUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectUpdateExecuteAction</display-name>
    <servlet-name>SubjectUpdateExecuteAction</servlet-name>
    <servlet-class>subject.SubjectUpdateExecuteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectUpdateExecuteAction</servlet-name>
    <url-pattern>/SubjectUpdateExecuteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectDAO</display-name>
    <servlet-name>SubjectDAO</servlet-name>
    <servlet-class>dao.SubjectDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectDAO</servlet-name>
    <url-pattern>/SubjectDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject</display-name>
    <servlet-name>Subject</servlet-name>
    <servlet-class>bean.Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
</web-app>